*.cache
.vs/
*.json
*.v2
Project8-GroupProject/.vs/Project8-GroupProject/v16/.suo
*.dll
*.cache
Project8-GroupProject/Project8-GroupProject/obj/Debug/net5.0/Project8-GroupProject.csprojAssemblyReference.cache
Project8-GroupProject/.vs/Project8-GroupProject/v16/.suo
Project8-GroupProject/Project8-GroupProject/obj/Project8-GroupProject.csproj.nuget.dgspec.json
Project8-GroupProject/Project8-GroupProject/obj/Debug/net5.0/Project8-GroupProject.csprojAssemblyReference.cache
Project8-GroupProject/Project8-GroupProject/obj/Debug/net5.0/Project8-GroupProject.csprojAssemblyReference.cache
