@{
    ViewData["Title"] = "Sign Up";
}

<h1>@ViewData["Title"]</h1>

<form>
    <label>Email</label>
    <input type="text" placeholder="Enter Email" name="email" required />
    <br />
    <label>Password</label>
    <input type="text" placeholder="Enter Password" name="password" required />
    <br />
    <label>Are you a admin</label>
    <input type="checkbox" name="admin" required />
    <br />
    <button type="submit">Sign Up</button>
</form>
